.button {
  &__primary {
    @include primary-button;
    margin: 2rem 1.25rem 1.375rem;
  }

  &__header-primary {
    @include primary-button;
    margin: 0;
  }

  &__full-width {
    @include primary-button;
    margin: 2.5rem 0;
  }
}
