.footer {
  padding: 4rem 6rem;
  background: #1A1A1A;
  color: white;
  display: flex;
  justify-content: space-around;

  &__logo {
    display: block;
    background: url(/design/sparkeats_logomark.svg) center no-repeat;
    width: 12em;
    max-width: 100%;
    height: 5em;
  }

  &__block {
    margin: 0 30px;
  }

  &__title {
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 15px;
    line-height: 16px;
    letter-spacing: 0.04em;
  }

  &__paragraph {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04em;
  }

  &__link {
    display: inline-block;
    margin-top: 15px;
    color: $cream-can;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px solid $cream-can;
    letter-spacing: 0.04em;
    line-height: 24px;
  }

  &--no-margin {
    margin: 0;
  }
}
