.footer {
  padding: 2rem 0;
  background: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__logo {
    margin: -8px 0;
    display: block;
    background: url(/design/sparkeats_logomark.svg) center no-repeat;
    width: 12em;
    max-width: 100%;
    height: 5em;
  }

  &__block {
    margin: 15px 30px;
  }

  &__title {
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 15px;
    line-height: 16px;
    letter-spacing: 0.04em;
  }

  &__paragraph {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.04em;
  }

  &__link {
    display: inline-block;
    margin-top: 15px;
    color: $credits-link;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid $credits-link;
    letter-spacing: 0.04em;
    line-height: 24px;
  }

  &--no-margin {
    margin: 0;
  }

  @media screen and (min-width: $bp-large-screen) {
    & {
      flex-direction: row;
      padding: 3rem 4rem;
    }
  }
}
