.wrapper--homepage {
  padding: 1rem 1.5rem;
  background-color: $secondary-color;

  @media (min-width: $small-screen-bp){
    padding: 2rem 3rem;
  }

  @media (min-width: $large-screen-bp){
    padding: 4rem 5rem;
  }

  @media (min-width: $xlarge-screen-bp){
    padding: 6.25rem 8rem;
  }
}
