//PLACE CARD GRID STYLES

.place-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__list-item {
    width: 80%;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: $primary-color;
    margin-top: 2.0625rem;

    @media (min-width: $bp-grid-two-col) {
      width: 43%;
    }

    @media (min-width: $bp-grid-three-col) {
      width: 28%;
    }

    @media (min-width: $bp-full-size-desktop) {
      width: 20%;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__title {
    padding: 1rem;
    border-bottom: 0.0675rem solid $primary-color;
  }

  &__name-link {
    text-decoration: none;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $oswald-bold;
    line-height: 1.4375rem;
    letter-spacing: 0.01rem;
    transition: all 0.2s ease-in;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: $bp-med-screen) {
      font-size: 2.375rem;
      line-height: 2.875rem;
    }
  }

  &__city {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }

  &__header {
    height: 5rem;
    overflow: hidden;
    border-bottom: 0.0625px $primary-color solid; //0.0625rem = 1px

    @media (min-width: $bp-med-screen) {
      height: 8rem;
    }

    @media (min-width: $bp-full-size-desktop) {
      height: 10rem;
    }
  }

  &__image {
    min-height: 100%;
    min-width: 100%;
  }
}
