.place-card__primary-button{
  @include primary-button;
  margin:2rem 1.25rem 1.375rem;
}

.header__primary-button{
  @include primary-button;
  margin: 0;
}

.primary-button--full-width{
  @include primary-button;
  margin: 2.5rem 0;
}