.review-header{
  height: 27.25rem;
  background: url(../../../design/review-header-bg.svg) center no-repeat;
  margin: 2.5rem 8rem;
  position: relative;
  @media (min-width: $bp-small-screen){
  }

  @media (min-width: $bp-med-screen){
  }

  @media (min-width: $bp-xlarge-screen){
  }

  &__backdrop-image{
    object-fit: cover;
    width: 100%;
    height: 27.25rem;
  }
}
