.review-overview {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $secondary-color;
  background: url('/design/background-img.png');
  border: 1px solid $primary-color;
  box-shadow: 2px 4px 28px rgba(0, 0, 0, 0.08);
  padding: 3rem 3rem 1rem;
  width: 100%;

  &__stars {
    margin-top: 24px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__address {
    font-style: normal;
    margin-top: 48px;
  }

  &__phone {
    &:hover {
      color: lighten($primary-color, 20%);
      border-bottom: 2px solid lighten($primary-color, 20%);
    }

    border-bottom: 2px solid $primary-color;

    text-decoration: none;
    color: $primary-color;
  }

  &__address p,
  &__phone {
    font-family: $oswald-stack;
    font-size: 1.1rem;
  }

  &__address p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__url {
    &:hover {
      border-bottom: 2px solid lighten($accent-color, 20%);
      color: lighten($accent-color, 20%);
    }

    font-family: $oswald-stack;
    margin-top: 1rem;
    text-decoration: none;
    border-bottom: 2px solid $accent-color;
    font-size: 1.1rem;
    color: $accent-color;
  }

  @media (min-width: $bp-med-screen) {
    order: 2;
  }
}
