<address class="review-overview__address">
  <p>
    <%= place.address %>
  </p>
</address>
<% if (place.phone) { %>
  <p>
    <a class="review-overview__phone" href="tel:<%= place.phone %>"><%= place.phone %></a>
  </p>
<% } %>
<% if (place.placeURL) { %>
    <p>
      <a class="review-overview__url" href="<%= place.placeURL %>">Visit Site</a>
    </p>
<% } %>
</address>
