<address class="place-card__address">
  <p>
    <%= place.address %>
  </p>
</address>
<% if (place.phone) { %>
  <p><a class="place-card__phone" href="tel:<%= place.phone %>"><%= place.phone %></a></p>
<% } %>
<% if (place.placeURL) { %>
    <a class="place-card__url" href="<%= place.placeURL %>">Visit Site</a>
<% } %>

