<div class="location-dropdown">
  <h2 class="location-dropdown__title">Pick a Location</h2>
  <button id="location-dropdown__button-main" class="location-dropdown__button">
    <div class="location-dropdown__button-text">All Places</div>
    <div class="location-dropdown__button-arrow"></div>
  </button>
  <div id="location-list" class="location-dropdown__list">
    <ul>
      <!-- getLocationDropdownList -->
    </ul>
  </div>
  <div class="place-new">
    <a class="header__primary-button" href="/places/new">Add a review</a>
  </div>
</div>
