<div class="location-dropdown">
  <h1>Pick a Location</h1>
  <button class="location-dropdown__button">
    <div class="location-dropdown__button-text">All Places</div>
    <div class="location-dropdown__button-arrow"></div>
  </button>
  <ul class="location-dropdown__list">
    <!-- getLocationDropdownList -->
  </ul>
  <div class="place-new">
    <a class="place-new__link" href="/places/new">Place not found? Add a new place.</a>
  </div>
</div>
