<header class="place-card__header">
  <a href="/refresh/<%= place.id %>" aria-label="review page for <%= place.placeName%>">
    <% if (place.placeImage) { %>
      <img class="place-card__image" src="<%= place.placeImage %>" alt="<%= place.placeImageAlt %>"/>
    <% } else { %>
      <img class="place-card__image" src="/design/place-card-header_bg.png" alt="placeholder image for place" />    
    <% } %>
  </a>
</header>  
