<a class="button__primary" href="/refresh/<%= place.id %>">
<!-- number of reviews -->
<% if (place.numberOfReviews > 1) { %>
  <%= place.numberOfReviews %> Reviews
<% } else { %>
  <%= place.numberOfReviews %> Review
<% } %>
</a>
