<a class="btn btn--primary" href="/places/<%= place.id %>">
<!-- number of reviews -->
<% if (place.numberOfReviews > 1) { %>
  <%= place.numberOfReviews %> Reviews
<% } else { %>
  <%= place.numberOfReviews %> Review
<% } %>
</a>
