<header class="place-card__header">
  <a href="/places/<%= place.id %>">
    <img class="place-card__image" src="images/places/<%= place.placeImage %>" alt="<%= place.placeImageAlt %>"/>
  </a>
</header>  