<div class="review-overview">
  <div class="review-overview__num-reviews">
    <p class="review-overview__title">
      <% if (place.numberOfReviews > 1) { %>
        <%- place.numberOfReviews %> Reviews
      <% } else { %>
        <%- place.numberOfReviews %> Review
      <% } %>
    </p>
    <%- place.avgNumberOfStars %>
  </div>
  <div class="review-overview__address">
    <%- partial('./address') %>
  </div>
</div>
