<section class="review-page">
  <%- partial('./review-header', {place: dataForView.place, placeImage: dataForView.placeImage}) %>
  <%- partial('./review-container') %>
  <%- partial('./review-overview') %>
  <%- partial('./review-nav') %>
</section>
