<footer class="footer">
  <section class="footer__block">
    <h6 class="footer__title footer--no-margin">About</h6>
    <div class="footer__logo"></div>

    <p class="footer__paragraph">
      Food is an important part of Sparkbox culture. When traveling,
      we often wonder where to eat and drink. Enter Sparkeats,
      our way to review and find the best restaraunts in town—wherever
      that might be.
    </p>
  </section>

  <section class="footer__block">
    <h6 class="footer__title">Built by</h6>

    <p class="footer__paragraph">
      Copy about the apprenticeship program can go here.
      This content needs to be written. Copy about the
      apprenticeship program can go here. This content needs to be written.
    </p>

    <a
      href="https://apprentices.seesparkbox.com/"
      class="footer__link"
    >
      Apprentices
    </a>
  </section>

  <section class="footer__block">
    <h6 class="footer__title">Sparkbox</h6>

    <p class="footer__paragraph">
      Sparkbox leads the way toward a better web as we craft
      responsive websites and web applications—and empower you to do the same.
    </p>
  </section>
</footer>
