{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "_": true,
    "document": true,
    "Place": true,
    "PlaceImage": true,
    "Review": true,
    "ReviewImage": true,
    "sails": true,
    "describe": true,
    "context": true,
    "it": true,
    "xit": true,
    "expect": true
  }
}
