{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }]
  },
  "globals": {
    "_": true,
    "document": true,
    "Place": true,
    "Review": true,
    "sails": true,
    "PlaceImage": true,
    "ReviewImage": true
  },
  "env": {
    "mocha": true
  }
}
