node_modules/
.sass-cache
.DS_Store
public/*

# Local development
*.env
*.dev
*.css
*.map

# but please keep these folders so that our project can be built into them
!public/.keep
!public/assets/css/.keep
