.button {
  &__primary {
    @include primary-button;

    margin: auto 1.25rem 1.375rem;
  }

  &__header-primary {
    @include primary-button;

    margin: 0;
  }

  &__secondary {
    font-family: $roboto-stack;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: 0.04rem;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 8rem;
    cursor: pointer;

    &:active {
      color: $primary-color;
    }

    &:visited {
      color: $primary-color;
    }
  }

  &--close {
    float: right;
  }
}
