.location-dropdown {
  @media (min-width: $bp-grid-three-col) {
    width: 33%;
  }

  &__title {
    font-family: $roboto-stack;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  &__button {
    box-sizing: border-box;
    cursor: pointer;
    background-color: $tertiary-color;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #4f4f4f;
  }

  &__button .location-dropdown {
    &__button-arrow {
      display: block;
      float: right;
      height: 0.5em;
      width: 0.5em;
      transform: rotate(135deg);
      border: solid $accent-color;
      border-width: 0.15rem 0.15rem 0 0;

      // center the arrow vertically.
      margin: 0.2rem 0.25rem 0 0;
    }
  }

  &__button[aria-expanded='true'] .location-dropdown {
    &__button-arrow {
      transform: rotate(-45deg);
    }
  }

  &__button-text {
    float: left;
    font-family: $roboto-stack;
    line-height: 120%;
  }

  &__list {
    display: none;

    & ul {
      & li {
        width: 100%;
      }
    }

    &--open {
      display: block;
    }
  }

  &__list-button {
    cursor: pointer;
    line-height: 120%;
    border-radius: 0;
    padding: 0.25rem 0;
    border: 1px solid #4f4f4f;
    border-top: none;
    width: 100%;
    box-sizing: border-box;
    background-color: $tertiary-color;
    font-family: $roboto-stack;
    text-align: left;
    padding-left: 0.5rem;

    &:hover,
    &:focus {
      color: $tertiary-color;
      background-color: $primary-color;
      text-decoration: underline;
    }
  }
}

.hidden {
  display: none;
}
