.site-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $primary-color;
  padding: 1em;
  box-sizing: border-box;

  &__title {
    @include visually-hidden;
  }

  &__logo {
    display: block;
    height: 2em;
    width: 14em;
    background: url('/img/sparkeats_logomark.svg') center no-repeat;
  }

  @media (min-width: $bp-med-screen) {
    flex-direction: row;
  }
}

@media screen and (min-width: $bp-med-screen) {
  .sparkeats-header {
    &__logo {
      margin-left: 4em;
    }
  }
}
