// SPARKEATS COLORS

// Sparkbox brand colors
$color-sparkblue-light: #D4EEF5;
$color-sparkblue-dark: #1C4C55;

// Sparkeats complimentary colors
$color-jellybean-blue: #3E7E8E;
$color-fountain-blue: #5CABBE;
$color-seagull-blue: #7EBFCD;

$color-white: #FFF;
$color-black: #000;
$color-soft-gray: #F1F1F1;
