// TYPOGRAPHY

$primary-font: "Avenir Next", sans-serif;

@mixin secondary-font($weight) {
  font-family: "Whitney A", "Whitney B", "Helvetica", Arial, sans-serif;
  font-style: normal;
  @if $weight == 'bold' {
    font-weight: 700;
  } @else {
    font-weight: 500;
  }
}
