// PLACE CARD GRID STYLES

.place-card__container {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $bp-med-screen) {
    //min-width: 18em;
    max-width: 90%;
    margin: 0 auto;
  }
  @media (min-width: $bp-large-screen) {
    max-width: 85%;
  }
  @media (min-width: $bp-xlarge-screen) {
    max-width: 70%;
  }
}

.place-card__list {
  display: block;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $bp-small-screen) {
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex: 1 0 18em;
      margin: 0 auto;
    }
    text-align: center;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  &-item {
    list-style: none;
    vertical-align: top;
    margin: 2em auto;
    width: 18em;
    @media (min-width: $bp-small-screen) {
      @supports (display: flex) {
        margin: 2em;
      }
      // use inline-block for browsers and devices that do not support flexbox
      display: inline-block;
      max-width: 32%;
    }
    &.hidden {
      display: none;
    }
  }
}
