// GENERAL LAYOUT ELEMENTS

body {
  background-color: $color-sparkblue-light;
}

.sparkeats-subtitle {
  color: $color-jellybean-blue;
  font-family: $primary-font;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.sparkeats-address {
  font-family: $secondary-font;
  font-size: 0.938em;
  color: $color-black;
  font-style: normal;
  text-align: center;
  line-height: 0.938em;
  margin: 2.5em;
  & a {
    color: $color-jellybean-blue;
    text-decoration: none;
    border-bottom: 0.1em solid $color-jellybean-blue;
  }
}
