// GENERAL LAYOUT ELEMENTS

body {
  background-color: $color-sparkblue-light;
  margin: 0;
}

li {
  list-style: none;
}

li:not([class]){
  list-style: disc;
}

// GLOBAL ELEMENTS

.sparkeats-header {
  width: 100%;
  height: 8.5em;
  background: url(/assets/design/sparkeats_pattern_horiz.svg) center bottom / 22em repeat-x rgb(67, 174, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2em 0;
  @media (min-width: 27em) {
    margin: 0 0 3.25em 0;
  }
}

.header-logo {
  background: url(/assets/design/sparkeats_logomark.svg) center no-repeat;
  width: 18.5em;
  max-width: 100%;
  height: 5em;
  @media (min-width: 23em) {
    width: 20em;
  }
  @media (min-width: 27em) {
    width: 25em;
  }
}

.sparkeats-subtitle {
  color: $color-jellybean-blue;
  @include primary-font();
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 3%;
  text-align: center;
  @media (min-width: 27em) {
    margin: 0 auto;
  }
}

.sparkeats-address {
  @include secondary-font(500);
  font-size: 0.938em;
  color: $color-black;
  text-align: center;
  line-height: 0.938em;
  margin: 2.5em;
  &__link {
    font-size: 0.85em;
    color: $color-jellybean-blue;
    text-decoration: none;
    border-bottom: 0.1em solid $color-jellybean-blue;
    @media (min-width: 21.13em) {
      font-size: 0.938em;
    }
  }
}

.sparkeats-footer {
  background-color: $color-sparkblue-dark;
  @include primary-font();
  &__intro {
    color: $color-seagull-blue;
    font-weight: bold;
    font-size: 0.875em;
    letter-spacing: 0.188em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3.625em;
    margin: 0.5em;
    @media (min-width: 25em){
      margin: 1em;
    }
  }
  &__wordmark {
    background: url(/assets/design/sparkeats_wordmark.svg) center no-repeat;
    margin: 0 auto;
    margin-bottom: 0.5em;
    width: 18em;
    max-width: 100%;
    height: 5em;
    @media (min-width: 25em) {
      margin-bottom: 1em;
      width: 25em;
    }
  }
  &__description {
    color: $color-seagull-blue;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 2em;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0 13%;
    @media (min-width: 25em) {
      font-size: 1.3em;
      // Setting media query to keep paragraph text from becoming to narrow.
      @media (min-width: 47em){
        margin: 0 24%;
      }
    }
  }
  &__copy {
    color: $color-white;
    @include secondary-font(500);
  }
  &__link {
    color: $color-seagull-blue;
    @include secondary-font(500);
    text-decoration: none;
    border-bottom: 0.1em solid $color-jellybean-blue;
    &:hover {
      @include secondary-font(700);
    }
    &:visited {
      color: $color-fountain-blue;
      border-bottom: 0.1em solid $color-fountain-blue;
    }
    &-span {
      margin-right: 1em;
    }
  }
}

.sparkeats-column {
  &__container {
    margin: 2em 15% 0 15%;
    font-size: 1.063em;
    line-height: 2em;
    letter-spacing: 0.025em;
    padding-bottom: 2.5em;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &__heading {
    color: $color-seagull-blue;
    text-transform: uppercase;
    font-size: 1.125em;
    letter-spacing: 0.25em;
    margin: 0.5em 0;
  }
  &__onethird {
    display: block;
    @media (min-width: 42.25em){
      float: left;
      width: 38%;
    }
  }
  &__twothirds {
    display: block;
    @media (min-width: 42.25em) {
      float: right;
      width: 58%;
    }
  }
}
