.place-card {
  background-color: $color-white;
  height: 30.625em;
  width: 25em;
  &__name {
    font-family: $primary-font;
    font-weight: bold;
    color: $color-sparkblue-dark;
    font-size: 2.5em;
    margin-top: 0.875em;
    margin-bottom: 0;
    text-align: center;
  }
  &__city {
    font-family: $primary-font;
    font-weight: bold;
    color: $color-sparkblue-dark;
    font-size: 0.875em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  &__address {
    font-family: $secondary-font;
    font-size: 0.938em;
    color: $color-black;
    font-style: normal;
    text-align: center;
    line-height: 0.938em;
    margin: 2.5em;
    & a {
      color: $color-jellybean-blue;
      text-decoration: none;
      border-bottom: 0.1em solid $color-jellybean-blue;
    }
  }
  &__footer {
    background-color: $color-fountain-blue;
    height: 4.125em;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1.25em;
  }
  &__footer a {
    font-family: $primary-font;
    font-size: 1.25em;
    font-weight: bold;
    color: $color-sparkblue-dark;
    text-decoration: none;
  }
  &__img {
    background-color: $color-sparkblue-dark; // TODO: replace with pattern?
    // background: url(data: ) no-repeat center; // TODO: pull image from data
    text-align: center;
    height: 9em;
    background-size: cover;
  }
  &__star {
    width: 1.125em;
    height: auto;
    &-rating {
      text-align: center;
    }
  }
}
