// ALL ELEMENTS RELATED TO THE PLACE CARD

.place-card {
  background-color: $color-white;
  position: relative;
  min-width: 18em;
  width: 25em;
  max-width: 100%;
  text-align: center;
  padding-bottom: 4.125em;
  &__name {
    @include primary-font();
    font-size: 1.75em;
    line-height: 1.35em;
    margin-top: 0.875em;
    margin-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    &-link {
      color: $color-sparkblue-dark;
      text-decoration: none;
    }
  }
  &__city {
    @include primary-font();
    color: $color-sparkblue-dark;
    font-size: 0.875em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin: 0.5em 0.75em;
    padding-bottom: 0.2em;
  }
  &__footer-link {
    @include primary-font();
    -webkit-font-smoothing: antialiased;
    font-size: 1.25em;
    color: $color-sparkblue-dark;
    text-decoration: none;
    background-color: $color-fountain-blue;
    box-sizing: border-box;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: all 500ms cubic-bezier(0,1.08,.65,.98);
    &:hover{
      color: $color-sparkblue-light;
      background-color: darken($color-fountain-blue, 20%);
    }
  }
  &__header {
    background-color: $color-sparkblue-dark;
    background-image: url(/assets/design/sparkeats_pattern_horiz.svg);
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 15em;
    height: 9em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    min-width: 20em;
    max-width: 100%;
  }
  &__star {
    width: 1.1875em;
    padding: 0 0.1875em;
  }
}
