// ALL ELEMENTS RELATED TO THE PLACE CARD

.place-card {
  background-color: $color-white;
  position: relative;
  min-width: 18em;
  width: 25em;
  max-width: 100%;
  text-align: center;
  &__name {
    @include primary-font();
    color: $color-sparkblue-dark;
    font-size: 2.5em;
    margin-top: 0.875em;
    margin-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  &__city {
    @include primary-font();
    color: $color-sparkblue-dark;
    font-size: 0.875em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__footer {
    background-color: $color-fountain-blue;
    height: 4.125em;
    box-sizing: border-box;
    padding-top: 1.25em;
    bottom: -6em;
    &-link {
      @include primary-font();
      font-size: 1.25em;
      color: $color-sparkblue-dark;
      text-decoration: none;
    }
  }
  &__header {
    background: url(/assets/design/sparkeats_pattern_horiz.svg) top center / 14.5em repeat-x $color-sparkblue-dark;
    height: 9em;
    max-width: 100%;
  }
  &__image {
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    // TODO: look at using clip-path
    clip: rect(0, 25em, 9em, 0);  // oh no! this has been deprecated
  }
  &__star {
    width: 1.125em;
    height: auto;
    &-rating {
    }
  }
}
