// ALL ELEMENTS RELATED TO THE REVIEWS CONTAINER

.review {
  background-color: $color-white;
  max-width: 100%;
  &-page {
    display: block;
    padding: 0;
    max-width: 58.5em;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 65.5em) {
      margin: 0 auto;
    }
    &:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }

  &-container {
    width: 100%;
    @media (min-width: 48em) {
      float: left;
      max-width: 66.5%;
    }
  }

  &-submission {
    background-color: $color-soft-gray;
    box-sizing: border-box;
    margin: 2em auto;
    padding: 2em 2em 1em 2em;
    &__reviewer {
      @include primary-font();
      color: $color-sparkblue-dark;
      font-size: 2em;
      padding: 0;
      margin: 0;
    }
    &__title {
      @include primary-font();
      font-size: 0.875em;
      text-transform: uppercase;
      color: $color-sparkblue-dark;
      letter-spacing: 0.25em;
      margin: 2.75em 0 0.75em;
    }
    &__review {
     @include secondary-font(500);
     line-height: 1.875em;
     font-weight: normal;
     letter-spacing: 0.025em;
     padding-bottom: 1em;
     @media(min-width: 40em) {
       font-size: 1.125em;
     }
    }
    &__image-container {
      display: inline-block;
      height: 13em;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 1.25em;
      margin-right: 1.25em;
      @media(min-width: 28em) {
        height: 10em;
        width: 44%;
      }
      @media(min-width: 57.5em) {
        height: 15.625em;
        width: 45%;
      }
    }
    &__image {
      max-height: 100%;
      margin: auto;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  &-overview {
    background-color: $color-soft-gray;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 2em auto;
    padding: 0.625em;
    @media (min-width: 48em) {
      float: right;
      width: 30%;
      max-width: 20.5em;
    }
    &__num-reviews {
      background-color: $color-white;
      width: 100%;
      margin: 0 auto;
      padding: 1.5em 0;
    }
    &__title {
      @include primary-font();
      font-size: 0.875em;
      text-transform: uppercase;
      color: $color-sparkblue-dark;
      letter-spacing: 0.25em;
      margin: 0;
      margin-bottom: 0.75em;
    }
    &__address {
      line-height: 1.25em;
      letter-spacing: 0.025em;
    }
  }
  &-header {
    background-color: $color-sparkblue-light;
    height: 20em;
    min-height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    &__backdrop {
      width: 100%;
      position: absolute;
      left: 0;
      top: -20%;
      &-image {
        min-width: 100%;
        width: 58.5em;
      }
    }
    &__title {
      background: $color-white;
      width: 70%;
      max-width: 100%;
      margin: 0;
      padding: 1.5em 0;
      text-align: center;
      position: relative;
      @media (min-width: 25em) {
        max-width: 23.5em;
      }
    }
    &__name {
      @include primary-font();
      color: $color-sparkblue-dark;
      font-size: 2.5em;
      margin-bottom: 0;
      margin: 0;
      padding: 0;
    }
    &__city {
      @include primary-font();
      color: $color-sparkblue-dark;
      font-size: 0.875em;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-top: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.review-nav {
  padding-left: 0;
  margin: 0 auto;
  max-width: 58.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  @media (min-width: 48em) {
    display: block;
    max-width: 66.5%;
    float: left;
  }
  &__button {
    display: inline-block;
    background-color: $color-fountain-blue;
    width: 37%;
    padding: 1em;
    text-align: center;
  }
  &__link {
    @include primary-font();
    color: $color-sparkblue-dark;
    text-decoration: none;
    font-size: 1.25em;
    &:visited {
      color: $color-white;
    }
  }
}
