// ALL ELEMENTS RELATED TO THE REVIEW CONTAINER

.review {
  background-color: $color-white;
  max-width: 100%;
  &-container {
    display: block;
    padding: 0;
    max-width: 58.5em;
    width: 100%;
    margin: 0 auto;
  }
  &-overview {
    background-color: $color-soft-gray;
    width: 20.5em;
    height: 18.25em;
    &__stars {

    }
    &__address {
      background-color: $color-white;
    }
  }
  &-header {
    background: $color-sparkblue-dark;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    &__image {
      width: 100%;
      left: 0;
      top: -50%;
      position: absolute;
    }
    &__title {
      background: $color-white;
      width: 70%;
      max-width: 100%;
      margin: 0;
      padding: 2em 0;
      text-align: center;
      position: relative;
      @media (min-width: 25em) {
        max-width: 23.5em;
      }
    }
    &__name {
      @include primary-font();
      color: $color-sparkblue-dark;
      font-size: 2.5em;
      margin-bottom: 0;
      margin: 0;
      padding: 0;
    }
    &__city {
      @include primary-font();
      color: $color-sparkblue-dark;
      font-size: 0.875em;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-top: 0;
      margin: 0;
      padding: 0;
    }
  }
}
