// testing the compilation of Sass to CSS using color variables
<<<<<<< 5ae6042a1708483692faa5b1a1ef1c0c55d99967
$color-fun: #fff;
$color-fantastic: #ff0066;

body {
  background-color: $color-fantastic;
}

h1 {
  color: $color-fun;
}
=======
$color-fun: #333;
$color-fantastic: #ddd;
>>>>>>> feat: add watch script

.party {
  color: $color-fun;
  background-color: $color-fantastic;
}

// declare class with a property that requires vendor prefixes to test the postcss script in the package.json file
.prefix-test {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
