// testing the compilation of Sass to CSS using color variables
$color-fun: #abc;
$color-fantastic: #def;

.party {
  color: $color-fun;
  background-color: $color-fantastic;
}

// declare class with a property that requires vendor prefixes to test the postcss script in the package.json file
.prefix-test {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
