// testing the compilation of Sass to CSS using color variables
$color-fun: #fff;
$color-fantastic: #3e7e8e;
$color-sparkbox-light-blue: #d4eef5;

body {
  background-color: $color-sparkbox-light-blue;
}

h1 {
  color: $color-fun;
  font-family: 'Avenir Next', sans-serif;
}

.party {
  color: $color-fun;
  background-color: $color-fantastic;
}

// declare class with a property that requires vendor prefixes to test the postcss script in the package.json file
.prefix-test {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
