$primary-color: #1a1a1a; // cod-gray
$secondary-color: #fffdf5; // quarter peral lusta
$tertiary-color: #fff;
$accent-color: #c92400; // thunderbird
$cream-can: #f7c952;
$jaffa: #ea8833;
$viridian: #00945f;
$credits-link: $cream-can;
