// Refresh
$primary-color: #1a1a1a; // cod-gray
$secondary-color: #fffdf5; // quarter peral lusta
$tertiary-color: #fff;
$accent-color: #c92400; // thunderbird
$cream-can: #f7c952;
$jaffa: #ea8833;
$viridian: #00945f;
$credits-link: $cream-can;

// Legacy

// Sparkbox brand colors
$color-sparkblue-light: #d4eef5;
$color-sparkblue-dark: #1c4c55;

// Sparkeats complimentary colors
$color-jellybean-blue: #3e7e8e;
$color-fountain-blue: #5cabbe;
$color-seagull-blue: #7ebfcd;
$color-white: #fff;
$color-black: #000;
$color-soft-gray: #f1f1f1;
