$oswald-stack: 'Oswald', sans-serif;
$roboto-stack: 'Roboto', sans-serif;
$roboto-condensed-stack: 'Roboto Condensed', sans-serif;
$oswald-normal: 400;
$oswald-bold: 700;
$roboto-normal: 400;
$roboto-bold: 700;
$roboto-extra-bold: 900;
$roboto-condensed-light: 300;
$roboto-condensed-normal: 400;
$roboto-condensed-bold: 700;
