<head>

  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/655912/7178372/css/fonts.css" />
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<html>
  <body>

    {{> _sparkeats-header}}

    {{> _sparkeats-subtitle}}

    {{> _place-card-container}}

    {{> _sparkeats-footer-pins}}

    {{> _sparkeats-footer}}

  </body>
</html>
