---
place: Meat Hut
city: Pittsburgh
state: PA
address: 123 North Main Street
phone: (222) 333-4444
url: http://www.meathut.com
website: www.meathut.com
review-page-url: #
number-of-reviews: 3
---

<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="../public/assets/css/main.css">

</head>
<html>
  <body>
    <h1>Hello Sparkeats!</h1>
    <p>Because food is awesome.</p>

    <section class="place-listing--item">
      {{> _place-card}}
    </section>

  </body>
</html>
