---
sparkeats-logo: source/assets/design/sparkeats-logomark.svg
sparkeats-pattern-horiz: source/assets/design/sparkeats-pattern-horiz.svg
header-url: # 
place-card--image-src: source/images/meat-hut.jpg
place-card--image-alt: This is alt-text
place-name: Meat Hut
city: Pittsburgh
state: PA
address: 123 North Main Street
phone: (222) 333-4444
place-url: http://www.meathut.com
place-website-display: www.meathut.com
review-page-url: #
number-of-reviews: 3
---

<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="../public/assets/css/main.css">

</head>
<html>
  <body>
    <h1>Hello Sparkeats!</h1>
    <p>Because food is awesome.</p>

    <section class="place-listing--item">
      {{> _place-card}}
    </section>

  </body>
</html>
