---
place: Meat Hut
city: Pittsburgh
state: Pennsylvania
image-alt: A picture at the Meat Hut
image: http://www.fillmurray.com/200/300
phone: (222) 333-4444
url: https://www.meathut.com
website: www.meathut.com
---

<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="../public/assets/css/main.css">

</head>
<html>
  <body>
    <h1>Hello Sparkeats!</h1>
    <p>Because food is awesome.</p>

    <section class="place-listing--item">

      {{> _place-listing--item}}
      {{> _address}}
    </section>


    {{> _place-header}}

  </body>
</html>
