<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="../public/assets/css/main.css">

</head>
<html>
  <body>
    <h1>Hello Sparkeats!</h1>
    <p>Because food is awesome.</p>

    <section class="place-listing--item">{{> _place-listing--item}}</section>

  </body>
</html>
