<head>

  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<html>
  <body>

    {{> _sparkeats-header}}

    {{> _sparkeats-subtitle}}

    {{> _place-card}}

    {{> _sparkeats-footer-pins}}

    {{> _sparkeats-footer}}

  </body>
</html>
