<h1>'Hello, {{foo}}!'</h1>
<p>What happens when I update this file?</p>
<p>Cool stuff.</p>

<h2>Watching for Changes</h2>
<p>If I have done this correctly, this update should generate an html file.</p>
