<% block('localScripts', '<script src="/js/local/showFile.js"></script>') %>

<%- partial('../../partials/review-header.ejs') %>

<form class="form" method="post" action="/places/<%= place.id %>/reviews" enctype="multipart/form-data">
  <!--<input id="placeId" type="hidden" value="<%= place.id %>" name="placeId" />-->
  <div class="form__content-wrapper">
    <section class="form__heading">
      <h3 class="form__title">Review</h3>
      <span class="form__required-key form__required-indicator" aria-hidden="true">Required Field</span>
    </section>

    <div class="form__field form__required-indicator">
      <label class="form__label" for="reviewerName" aria-hidden="true">Your Name</label>
      <input id="reviewerName" class="form__input" type="text" name="reviewerName" placeholder="First Name Last Name"
        required>
    </div>

    <fieldset class="form__field">
      <legend class="form__legend form__required-indicator" required>Choose a rating for the restaurant.</legend>

      <div class="form__ratings">
        <label class="form__label" for="rating-1">
          <input id="rating-1" class="form__input form__input--radio" type="radio" name="numberOfStars" value="1">
          <span class="form__label--rating">1 Star</span>
        </label>
        <label class="form__label" for="rating-2">
          <input id="rating-2" class="form__input form__input--radio" type="radio" name="numberOfStars" value="2">
          <span class="form__label--rating">2 Star</span>
        </label>
        <label class="form__label" for="rating-3">
          <input id="rating-3" class="form__input form__input--radio" type="radio" name="numberOfStars" value="3">
          <span class="form__label--rating">3 Star</span>
        </label>
        <label class="form__label" for="rating-4">
          <input id="rating-4" class="form__input form__input--radio" type="radio" name="numberOfStars" value="4">
          <span class="form__label--rating">4 Star</span>
        </label>
        <label class="form__label" for="rating-5">
          <input id="rating-5" class="form__input form__input--radio" type="radio" name="numberOfStars" value="5">
          <span class="form__label--rating">5 Star</span>
        </label>
      </div>

    </fieldset>

    <div class="form__field">
      <label class="form__label form__required-indicator" for="reviewText" aria-hidden="tue">How was it?</label>
      <textarea id="reviewText" class="form__text-area" name="reviewText" rows="5" required></textarea>
    </div>

    <div class="form__field ">
      <p class="form__label">Add an image to your review (max 5 MB).</p>

      <label class="form__label--button" for="reviewImage" aria-hidden="false">Upload Image</label>
      <input id="reviewImage" class="form__file-input" type="file" name="reviewImage" accept="image/*">
      <span class="button--secondary" aria-hidden="true">Upload Image</span>

      <div class="form__field form__field--file" aria-live="polite">
        <div class="form__file">
          <span class="form__file-name"></span>
          <button type="button" class="form__remove-file" aria-label="Remove image">&times</button>
        </div>
        <label class="form__label" for="review-image-alt" aria-hidden="true">
          <span class="form__label--image-alt form__required-indicator" >Image Description</span>
        </label>
        <input id="review-image-alt" class="form__input form__input--image-alt" type="text" name="reviewImageAlt">
      </div>
    </div>

    <button class="form__submit button--primary" type="submit">Submit</button>
  </div>
</form>
