// SPARKEATS COLORS

// Sparkbox brand colors
$color-sparkblue-light: #d4eef5;
$color-sparkblue-dark: #1c4c55;

// Sparkeats complimentary colors
$color-jellybean-blue: #3e7e8e;
$color-fountain-blue: #5cabbe;
$color-seagull-blue: #7ebfcd;

$color-white: #fff;
$color-black: #000;
$color-soft-gray: #f1f1f1;
