<address class="sparkeats-address">
  <p>{{place.address}}</p>
  <p><a class="sparkeats-address__phone" href="tel:+{{getPhoneNumber place.phone}}">{{place.phone}}</a></p>
</address>
<div class="sparkeats-address__url">
  <a class="sparkeats-address__url-link" href="{{place.place-url}}">Visit Site</a>
</div>
