<address class="sparkeats-address">
  <p>{{place.address}}</p>
  <p>{{place.phone}}</p>
  <p><a class="sparkeats-address__link" href="{{place.place-url}}">{{place.place-website-display}}</a></p>
</address>
