<li class="place-card__list-item">
  <section class="place-card">
    {{> _place-card--image}}
    {{> _place-name-city-state}}
    {{> _star-rating}}
    <div class="sparkeats-address__place-card-container">{{> _address}}</div>
    {{> _place-card-footer}}
  </section>
</li>
