<li class="place-card__list-item">
  <section class="place-card place-card__holder">
    {{> _place-card--image}}
    {{> _place-name-city-state}}
    {{> _star-rating}}
    {{> _address}}
    {{> _place-card-footer}}
  </section>
</li>
