<section class="place-card__container">
  <ul class="place-card__list">
    {{> _place-card places.cherry-republic}}
    {{> _place-card places.village-cheese-shanty}}
    {{> _place-card places.table-33}}
    {{> _place-card places.bareburger}}
    {{> _place-card places.sleepy-bee-cafe}}
    {{> _place-card places.bagger-daves}}
    {{> _place-card places.gaucho}}
  </ul>
</section>
