<!-- TODO: add style="background: url({{place-image}}) center no-repeat" -->

<header class="place-card__img">
  <a href="{{review-page-url}}">
    <!-- <img src="{{place-image}}" alt="{{place-image-alt}}"/> -->
  </a>
</header>
