<header class="place-card__header">
  <a href="{{getReviewPageLink place-id}}">
    <img class="place-card__image" src={{getImageLocation place.place-image 'place'}} alt="{{getPlaceImageAlt place.place-image-alt place.place-name}}"/>
  </a>
</header>
