<section class="place-card__container">
  <ul class="place-card__list">
    {{> _place-card places.meat-hut}}
    {{> _place-card places.sushi-town}}
    {{> _place-card places.the-other-hut}}
    {{> _place-card places.chicken-shack}}
    {{> _place-card places.the-other-pizza-palace}}
    {{> _place-card places.noodle-place}}
    {{> _place-card places.italian-house}}
    {{> _place-card places.pizza-palace}}
  </ul>
</section>
