<header class="place-card__header">
  <a href="{{getReviewPageLink place-id}}">
    <img class="place-card__image" src={{getPlaceImageLocation place.place-image}} alt="{{place.place-image-alt}}"/>
  </a>
</header>
