<section class="place-card__container">
  <ul class="place-card__list">
    {{> _place-card meat-hut}}
    {{> _place-card sushi-town}}
    {{> _place-card the-other-hut}}
    {{> _place-card chicken-shack}}
    {{> _place-card the-other-pizza-palace}}
    {{> _place-card noodle-place}}
    {{> _place-card italian-house}}
    {{> _place-card pizza-palace}}
  </ul>
</section>
