<header class="place-card__header">
  <a href="{{review-page-url}}">
    <img class="place-card__image" src={{getImageLocation place.place-image 'place'}} alt="{{place.place-image-alt}}"/>
  </a>
</header>
