<div class="review-container">
  {{#each reviews }}
    <article class="review-submission">
      <h1 class="review-submission__reviewer">{{reviewer-name}}</h1>
      {{> _star-rating}}
      <h2 class="review-submission__title">Comments</h2>
      <p class="review-submission__review">{{review-text}}</p>
      {{#each review-image-file-name}}
        <div class="review-submission__image-container">
          <img class="review-submission__image" src="{{getImageLocation this "review"}}" alt="{{getReviewImageAlt this ../this}}">
        </div>
      {{/each}}
    </article>
  {{/each}}
</div>
