<article class="review-submission">
<h1 class="review-submission__reviewer">{{reviewer}}</h1>
{{> _star-rating}}
<h2 class="review-submission__title">Comments</h2>
<p class="review-submission__review">{{review}}</p>
</article>
