<!-- TODO: add functionality to the Next Place button -->

<div class="review-nav">
  <div class="review-nav__button">
    <a class="review-nav__link" href="/index.html" role="button">Home</a>
  </div>
</div>
