<div class="review-overview">
  <div class="review-overview__num-reviews">
    <p class="review-overview__title">{{getReviewOrReviews numberOfReviews}}</p>
    {{> _star-rating}}
  </div>
  <div class="review-overview__address">
    {{> _address }}
  </div>
</div>
