{{#each reviews }}
  <article class="review-submission">
    <h1 class="review-submission__reviewer">{{reviewer-name}}</h1>
    <!--{{> _star-rating}}-->
    <h2 class="review-submission__title">Comments</h2>
    <p class="review-submission__review">{{review-text}}</p>
    {{#each picture-file-name}}
      <div class="review-submission__image-container">
        <img class="review-submission__image" src="{{getReviewImageLocation this}}">
      </div>
    {{/each}}
  </article>
{{/each}}
