<header class="sparkeats-header">
  <a href="{{header-url}}">
    <img src="source/assets/design/sparkeats_logomark.svg" alt="Sparkeats Logo"/>
    <img src="source/assets/design/sparkeats_pattern_horiz.svg" alt="Sparkeats: Sparkboxers review food and drink places so you can eat right"/>
  </a>
</header>
