<footer class="sparkeats-footer">
  <h3 class="sparkeats-footer__intro">About</h3>

  <section class="sparkeats-footer__wordmark"></section>

  <h4 class="sparkeats-footer__description">Food is an important part of Sparkbox Culture. When traveling, we often
    wonder where to eat and drink. Enter Sparkeats, our way to review and find
    the best restaurants in town&mdash;wherever that might be.</h4>

  <section class="sparkeats-column__container">
    <div class="sparkeats-column__onethird">
      <h4 class="sparkeats-column__heading">Sparkbox</h4>
      <p class="sparkeats-footer__copy"><a class="sparkeats-footer__link" href="http://www.seesparkbox.com">Sparkbox</a> leads the way toward
      a better web as we craft responsive websites and web applications&mdash;and empower
      you to do the same.</p>
    </div>

    <div class="sparkeats-column__twothirds">
      <h4 class="sparkeats-column__heading">Built by</h4>
      <p class="sparkeats-footer__copy">Copy about the apprenticeship program can go here. This content needs to be written. Say something super awesome about the 2017 Sparkbox apprentices.</p>
      <a class="sparkeats-footer__link sparkeats-footer__link-span" href="#">Betty Baker</a>
      <a class="sparkeats-footer__link" href="http://www.heathercancode.com">Heather Taylor</a>
    </div>
</section>

</footer>
