<section class="place-card__star-rating">
  <img class="place-card__star" src="assets/design/sparkeats_star.svg" alt="full star">
  <img class="place-card__star" src="assets/design/sparkeats_star.svg" alt="full star">
  <img class="place-card__star" src="assets/design/sparkeats_star.svg" alt="full star">
  <img class="place-card__star" src="assets/design/sparkeats_star_half.svg" alt="half star">
  <img class="place-card__star" src="assets/design/sparkeats_star_empty.svg" alt="empty star">
</section>
