<div class="place-card__star-rating">
  {{getNumberOfStars number-of-stars}}
  <!-- <img class="place-card__star" src="getNumberOfStars reviews.number-of-stars" alt="reviews.number-of-stars stars"> -->
  <!-- <img class="place-card__star" src="assets/design/sparkeats_star.svg" alt="review star">
  <img class="place-card__star" src="assets/design/sparkeats_star.svg" alt="review star">
  <img class="place-card__star" src="assets/design/sparkeats_star_half.svg" alt="review star">
  <img class="place-card__star" src="assets/design/sparkeats_star_empty.svg" alt="review star"> -->
</div>
