<% block('localScripts', '<script src="/js/local/showFile.js"></script>') %>

<%- partial('../../partials/review-header.ejs', {place: dataForView}) %>

<form class="form" method="post" action="/review">
  <div class="form__content-wrapper">
    <section class="form__heading">
      <h2 class="form__title">Review</h2>
      <span class="form__required-key form__required-indicator">Required Field</span>
    </section>

    <div class="form__field form__required-indicator">
      <label class="form__label" for="reviewerName">Your Name</label>
      <input id="reviewerName" class="form__input" type="text" name="reviewerName" aria-label="Your Name" placeholder="Your Name"
        required>
    </div>

    <fieldset class="form__field">
      <legend class="form__legend form__required-indicator" aria-label="Choose a rating for the restaurant" required>Rating</legend>

      <div class="form__ratings">
        <label class="form__label" for="rating-1">
          <input id="rating-1" class="form__input form__input--radio" type="radio" name="numberOfStars" value="1">
          <span class="form__label--rating">1 Star</span>
        </label>
        <label class="form__label" for="rating-2">
          <input id="rating-2" class="form__input form__input--radio" type="radio" name="numberOfStars" value="2">
          <span class="form__label--rating">2 Star</span>
        </label>
        <label class="form__label" for="rating-3">
          <input id="rating-3" class="form__input form__input--radio" type="radio" name="numberOfStars" value="3">
          <span class="form__label--rating">3 Star</span>
        </label>
        <label class="form__label" for="rating-4">
          <input id="rating-4" class="form__input form__input--radio" type="radio" name="numberOfStars" value="4">
          <span class="form__label--rating">4 Star</span>
        </label>
        <label class="form__label" for="rating-5">
          <input id="rating-5" class="form__input form__input--radio" type="radio" name="numberOfStars" value="5">
          <span class="form__label--rating">5 Star</span>
        </label>
      </div>

    </fieldset>

    <div class="form__field">
      <label class="form__label form__required-indicator" for="reviewText">How Was It?</label>
      <textarea id="reviewText" class="form__text-area" name="reviewText" rows="5" required></textarea>
    </div>

    <div class="form__field ">
      <p class="form__label">Add an image to your review (max XX MB).</p>

      <label class="form__label--button" for="reviewImageFileName" aria-hidden="false">Upload Image</label>
      <input id="reviewImageFileName" class="form__file-input" type="file" name="reviewImageFileName" accept="image/*">
      <span class="button--secondary" aria-hidden="true">Upload Image</span>

      <div class="form__field form__field--file">
        <div class="form__file">
          <span class="form__file-name"></span>
          <button type="button" class="form__remove-file" aria-label="Remove image">&times</button>
        </div>
        <label class="form__label" for="review-image-alt">
          <span class="form__label--image-alt form__required-indicator">Image alt text</span>
        </label>
        <input id="review-image-alt" class="form__input form__input--image-alt" type="text" name="reviewImageAlt">
      </div>
    </div>

    <input id="placeId" type="hidden" value="<%= dataForView.id %>" name="placeId" />

    <button class="form__submit button--primary" type="submit">Submit</button>
  </div>
</form>
