body {
  background-color: #d4eef5; }

h1 {
  color: #fff;
  font-family: 'Avenir Next', sans-serif; }

.party {
  color: #fff;
  background-color: #3e7e8e; }

.prefix-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3NvdXJjZS9zY3NzL21haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLQTtFQUNFLDBCQUhpQyxFQUFBOztBQU1uQztFQUNFLFlBVGM7RUFVZCx1Q0FBc0MsRUFBQTs7QUFHeEM7RUFDRSxZQWRjO0VBZWQsMEJBZHVCLEVBQUE7O0FBa0J6QjtFQUNFLHFCQUFhO0VBQWIscUJBQWE7RUFBYixjQUFhO0VBQ2IsNkJBQXNCO0VBQXRCLDhCQUFzQjtNQUF0QiwyQkFBc0I7VUFBdEIsdUJBQXNCO0VBQ3RCLHNCQUF5QjtNQUF6QixtQkFBeUI7VUFBekIsMEJBQXlCLEVBQUEiLCJmaWxlIjoibWFpbi5jc3MifQ== */