$bp-small-screen: 30rem; // 480px
$bp-med-screen: 45rem; // 720px
$bp-large-screen: 64rem; // 1024px
$bp-full-size-desktop: 90.625rem; //1450px

// Breakpoints for places grid on homepage
$bp-grid-two-col: $bp-small-screen; // 480px
$bp-grid-three-col: $bp-large-screen; // 720px

// Breakpoints for reviews page.
$bp-rating-overview-move-right: $bp-med-screen;
