$primary-color: #1A1A1A; // cod-gray
$secondary-color:#fffdf5; // quarter peral lusta
$accent-color: #C92400; //thunderbird
$cream-can: #F7C952;
$jaffa: #EA8833;
$viridian: #00945F;
$credits-link: $cream-can;
