<h1>Add Review</h1>
<p>GET /review</p>

<form class="new-review" method="post" action="/review">
  <fieldset>
    <label for="reviewerName">Your Name</label>
    <input type="text" name="reviewerName">
  </fieldset>

  <fieldset>
    <label for="reviewText">How was it?</label>
    <textarea name="reviewText"></textarea>
  </fieldset>

  <fieldset>
    <legend>Rating</legend>
    <ul class="new-review__rating-stars">
      <li class="new-review__rating-star">
        <label for="numberOfStars" for="rating-1 ">1</label>
        <input type="radio" name="numberOfStars" id="rating-1" value="1 ">
      </li>
      <li>
        <label for="numberOfStars" for="rating-2 ">2</label>
        <input type="radio" name="numberOfStars" value="2 ">
      </li>
      <li>
        <label for="numberOfStars" for="rating-3 ">3</label>
        <input type="radio" name="numberOfStars" value="3 ">
      </li>
      <li>
        <label for="numberOfStars" for="rating-4 ">4</label>
        <input type="radio" name="numberOfStars" value="4 ">
      </li>
      <li>
        <label for="numberOfStars" for="rating-5 ">5</label>
        <input type="radio" name="numberOfStars" value="5 ">
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <label for="dateVisited">Date visited</label>
    <input type="date" name="dateVisited">
  </fieldset>

  <fieldset>
    <label for="reviewImageFileName">Add an image to your review (max XXX MB)</label>
    <input type="file" name="reviewImageFileName" accept="image/*">
  </fieldset>

  <input type="submit" value="Submit">
</form>