// Sparkbox brand colors
$color-sparkblue-light: #d4eef5;
$color-sparkblue-dark: #1c4c55;

// Sparkeats complimentary colors
$color-jellybean-blue: #3e7e8e;
$color-fountain-blue: #5cabbe;
$color-seagull-blue: #7ebfcd;

$color-white: #fff;
$color-black: #000;
$color-soft-gray: #f1f1f1;

// Breakpoints
$bp-small-screen: 37.5em;
$bp-med-screen: 56.25em;
$bp-large-screen: 75em;
$bp-xlarge-screen: 112.5em;
