<section class="review-overview">
  <header>
    <h1 class="review-overview__title">
      <% if (numberOfReviews > 1) { %>
        <%- numberOfReviews %> Reviews
      <% } else { %>
        <%- numberOfReviews %> Review
      <% } %>
    </h1>
    <div class="review-overview__stars">
      <%- stars %>
    </div>
  </header>

  <%- partial('./address') %>
</section>
