<h1 class="place-card__name">
  <a class="place-card__name-link" href="/places/<%= place.id %>"><%= place.placeName %></a>
</h1>
<h2 class="place-card__city"><%= place.city %>, <%= place.state %></h2>
