<header class="place-card__header">
  <a href="/reviews/<%= place.placeId %>">
    <img class="place-card__image" src="<%= place.placeImageName %>" alt="<%= place.placeImageAlt %>"/>
  </a>
</header>  