<h1 class="place-card__name">
  <a class="place-card__name-link" href="/places/<%= place.id %>"><%= place.name %></a>
</h1>
<h2 class="place-card__city"><%= place.address %></h2>
<div>
<%- place.numberOfStars %>
</div>