<div class="review-overview">
  <div class="review-overview__num-reviews">
    <p class="review-overview__title">
      <%- place.numberOfReviews %>
    </p>
    <%- place.numberOfStars %>
  </div>
  <div class="review-overview__address">
    <%- partial('./address') %>
  </div>
</div>