<div class="review-header">
    <div class="review-header__backdrop">
        <img class="review-header__backdrop-image" src="../../images/places/<%= place.placeImage %>" alt="<%= place.placeImageAlt %>" />
    </div>
    <div class="review-header__title">
        <h1 class="review-header__name">
            <%= place.name %>
        </h1>
        <h2 class="review-header__city">
            <%= place.address %>
        </h2>
    </div>
</div>
