<footer class="sparkeats-footer">
  <h3 class="sparkeats-footer__intro">About</h3>

  <div class="sparkeats-footer__wordmark"></div>

  <h4 class="sparkeats-footer__description">Food is an important part of Sparkbox Culture. When traveling, we often
    wonder where to eat and drink. Enter Sparkeats, our way to review and find
    the best restaurants in town&mdash;wherever that might be.</h4>

  <section class="sparkeats-column__container">
    <div class="sparkeats-column__onethird">
      <h4 class="sparkeats-column__heading">Sparkbox</h4>
      <p class="sparkeats-footer__copy"><a class="sparkeats-footer__link" href="https://www.seesparkbox.com">Sparkbox</a> leads the way toward
      a better web as we craft responsive websites and web applications&mdash;and empower
      you to do the same.</p>
    </div>

    <div class="sparkeats-column__twothirds">
      <h4 class="sparkeats-column__heading">Your chefs</h4>
      <p class="sparkeats-footer__copy">This site is proudly dished up by the <a class="sparkeats-footer__link" href="http://apprentices.seesparkbox.com/">Sparkbox Apprenticeship v7.0</a>. Please report corrections to the appropriate reviewing <a class="sparkeats-footer__link" href="https://seesparkbox.com/team">Sparkboxer</a>.</p>
    </div>
</section>

</footer>
