<% block('localScripts', '<link rel="stylesheet" href="/styles/refresh.css" />') %>
<div class="homepage">
  <%-partial('../partials/homepage-header') %>
  <%-partial('../partials/place-card-container') %>
</div>
