<% block('localScripts', '<link rel="stylesheet" href="/styles/main.css" />') %>
<div class="wrapper--homepage">
  <%- partial('../partials/sparkeats-subtitle.ejs') %>
  <%- partial('../partials/location-drop-down') %>
  <%- partial('../partials/legacy/place-card-container') %>
</div>