<% block('localScripts', '<script src="/js/local/locationDropdown.js"></script>') %>

<div class="wrapper--homepage">
  <%- partial('../partials/sparkeats-subtitle.ejs') %>
  <%- partial('../partials/location-drop-down') %>
  <%- partial('../partials/place-card-container') %>
</div>
