<% block('localScripts', '<link rel="stylesheet" href="/styles/refresh.css" />') %>
<div class="wrapper--homepage">
  <%-partial('../partials/homepage-header') %>
  <div class="section-border"></div>
  <%-partial('../partials/place-card-container') %>
</div>
