<h1>Add Place</h1>
<p>GET /place</p>

<form class="new-review" method="post" action="/place">
  <fieldset>
    <label for="placeName">Place name</label>
    <input type="text" name="placeName">
  </fieldset>

  <fieldset>
    <label for="city">City</label>
    <input type="text" name="city">
  </fieldset>

  <fieldset>
    <label for="state">State</label>
    <input type="text" name="state">
  </fieldset>

  <fieldset>
    <label for="address">Address</label>
    <input type="text" name="address">
  </fieldset>

  <fieldset>
    <label for="phone">Phone number</label>
    <input type="text" name="phone">
  </fieldset>

  <fieldset>
    <label for="placeImageName">Image name</label>
    <input type="text" name="placeImageName">
  </fieldset>

  <fieldset>
    <label for="placeImageAlt">Alt Image</label>
    <input type="text" name="placeImageAlt">
  </fieldset>

  <fieldset>
    <label for="placeUrl">Place Url</label>
    <input type="text" name="placeUrl">
  </fieldset>

  <fieldset>
    <label for="placeUrlDisplay">Place Url display</label>
    <input type="text" name="placeUrlDisplay">
  </fieldset>

  <input type="submit" value="Submit">
</form>