@mixin primary-button {
  background: black;
  color: white;
  display: block;
  font-family: $roboto-stack;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
