.homepage-header {
  margin: 4rem auto 5rem auto;
  width: 80%;
}

.section-border {
  border-top: 2px solid #000000;
  width: 100%;
}

.place-card__container {
  margin: 2rem auto 4rem auto;
  width: 80%;
}
