.wrapper--homepage {
  padding: 2rem 1.5rem;

  @media (min-width: $bp-small-screen) {
    padding: 2rem 3rem;
  }

  @media (min-width: $bp-med-screen) {
    padding: 4rem 5rem;
  }

  @media (min-width: $bp-xlarge-screen) {
    padding: 6.25rem 8rem;
  }
}
