.review-page {
  margin: 2rem 1.5rem;

  @media (min-width: $bp-small-screen) {
    margin: 2rem 3rem;
  }

  @media (min-width: $bp-med-screen) {
    margin: 4rem 5rem;
  }

  @media (min-width: $bp-xlarge-screen) {
    margin: 6.4375rem 8rem 6.375rem;
  }
}
